<!DOCTYPE html>
<html lang="en" dir="ltr">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
  <head>
    <meta charset="utf-8">
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Threewaters MC</title>
  </head>
  <body>
    <h1> Threewaters On-Demand Minecraft Server </h1>
    {% if ipMessage %}
    <h2>Currently running at {{ ipMessage }} </h2>
    {% else %}
    <form action="{{ url_for('initServerMC') }}", method="POST">
      <input type="text" name="pass" placeholder="Password"><br>
      <select name="world">
        <option value="world">Original creative world</option>
        <option value="weirdo">Weirdo (survival)</option>
      </select>
      <input type="submit" value="Start Server">
    </form>
    {% endif %}
    <h2>Server: {{ ipMessage }}, {{ ipMessage|length }}</h2>
  </body>
</html>